.btnClick {
  width: 120px;
  height: 50px;
  background-color: aqua;
  font: 20px black;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.btnClick:hover {
    background-color: red;
}

.bigContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 800px;
  margin-right: auto;
  margin-top: 150px;
  margin-left: 200px;
  background-color: #D3D3D3;
  border-radius: 10px;
}

.sectionTimer {
  text-align: center;
  height: 80%;
  padding: 20px;
  padding-top: 70px;
}

.h1Timer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size:40px;
}

.h2Timer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size:30px;
}

.lapsStyle {
    width: 30%;
    font-size: 14px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow-y: scroll;
    height: 80%;
}